.buttonDark{
    -fx-background-color: -foreground;
    -fx-text-fill: -background;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}
.buttonLight{
    -fx-background-color: -backgroundDarker;
    -fx-text-fill: -foreground;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

.ListView{
    -fx-background-color: -background;
}
.ListCell:hover{
    -fx-background-color: -foregroundDarker;
}

.root{
    -fx-background-color: -backgroundDarker;
}

.userInput{
    -fx-background-color: -backgroundDarker;
    -fx-border-color: -foregroundDarker;
    -fx-border-width: 0px 0px 2px 0px;
}