



/* Channel Selector area*/
.labelLight{
    -fx-text-fill: -background;
    -fx-background-color: -foreground;
}
.buttonLight{
    -fx-background-color: -backgroundDarker;
    -fx-text-fill: -foreground;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}
.channelSelectorBarContainer{
    -fx-background-color: -foreground;
}

/* ListView Stuff */
.ListView{
    -fx-background-color: -backgroundDarker;
}
.list-cell{
    -fx-background-color: -background;
    -fx-text-fill: -foregroundDarker;
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}
.list-cell:hover{
    -fx-background-color: -backgroundDarker;
    -fx-text-fill: -foreground;

}
.list-cell:selected{
    -fx-background-color: -foregroundDarker;
    -fx-text-fill: -background;
}


/* Message pane area */
.detailsArea{
    -fx-background-color: -foreground;
}
.table-view{
    -fx-background-color: -background;
}
.messageSent{
    -fx-alignment: right;
    -fx-background-color: -foreground;
    -fx-text-fill: -background;
    -fx-border-radius: 15px;
}
.messageReceived{
    -fx-alignment: left;
    -fx-background-color: -backgroundDarker;
    -fx-text-fill: -foreground;
    -fx-border-radius: 15px;
}

.buttonDark{
    -fx-background-color: -foreground;
    -fx-text-fill: -background;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}
.inputAreaBackground{
    -fx-background-color: -background;
}
.messageInputBox{
 -fx-background-color: -backgroundDarker;
}


.messageContainerOther{
    -fx-background-color: -backgroundDarker;
    -fx-background-radius: 15px;
}
.messageTextOther{
    -fx-fill: -foreground;
    -fx-font-size: 16px;
}

.messageContainerUser{
    -fx-background-color: -foreground;
    -fx-background-radius: 15px;
}
.messageTextUser{
    -fx-fill: -background;
    -fx-font-size: 16px;
}

.table-row-cell{
    -fx-background-color: -background;
}
.table-row-cell:selected{
    -fx-background-color: -background;
}